# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# WebStorm
#
.idea/*.iml
.idea/.name
.idea/caches
# .idea/dictionaries
.idea/gradle.xml
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml

bak/
lib
temp/
dist/
etc/
docs/
