# OSX
#
.DS_Store

# node.js
#
node_modules/
*.log

# WebStorm
#
.idea
*.iml

.*
api-extractor.json
ts*
.vscode/

lib/**/*.d.ts
lib/**/*.ts.map
lib/**/*.js.map
!lib/index.d.ts

__tests__/
src/
example/
docs/
dist/
etc/
temp/
